@page
@model IndexModel
@{
    ViewData["Title"] = "Chameleon";
}

<div class="text-center">
    <h1 class="display-4 text-success-emphasis">Bem-vindo</h1>
    <p class="text-dark-emphasis"></p>Esse é o meu primeiro site para me desenvolver melhor na área de tecnologia e aprender ASP .NET Core MVC.
</div>

<div>
    <button type="button" class="btn btn-primary" type="submit">Entrar <i class="bi bi-send-fill icon-enviar"></i></button>
</div>
