.icon-enviar{
    position: absolute;
    transition: all 0.2s;
    transform: translate(70px);
}

button:hover{
    cursor: pointer;
    background: linear-gradient();
    transition: all 0.2s;
}

button:hover > div{
    transform: translateX(-20px);
    cursor: pointer;
}

button:hover > .icon{
    opacity: 1;
    transform: translate(30px);
}